<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
body {
  background-color: #cccccc;
  color: #333333;
}
.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px,1fr));
  grid-gap: 5px;
  grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(2, minmax(100px,1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(100px,1fr));
  }
}
.masonry-item, .masonry-content {
  border-radius: 2px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
.masonry-footer {
  font-size: .75em;
  opacity: .25;
  text-align: center;
  padding-top: 3em; 
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}
.masonry-footer a {
  color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
  opacity: .75;
}
  </style>
</head>
<body>
  <div class="masonry-wrapper"><div class="masonry">
  <div class="masonry-item">
    <img src="https://picsum.photos/450/325?image=100" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/450?image=200" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/280?image=300" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/540?image=400" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/380?image=500" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/300?image=600" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/400?image=700" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/300?image=800" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/280?image=900" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/480?image=925" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/550?image=950" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/600?image=1000" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/325?image=25" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/450?image=50" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/280?image=75" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/540?image=100" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/380?image=125" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/300?image=161" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/400?image=175" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/300?image=200" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/280?image=225" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/480?image=250" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/550?image=275" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/600?image=300" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/325?image=13" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/450?image=26" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/280?image=39" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/540?image=52" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/380?image=65" alt="Dummy Image" class="masonry-content">
  </div>
  <div class="masonry-item">
    <img src="https://picsum.photos/450/300?image=78" alt="Dummy Image" class="masonry-content">
  </div>
</div>
  <script>
/**
 * Set appropriate spanning to any masonry item
 *
 * Get different properties we already set for the masonry, calculate 
 * height or spanning for any cell of the masonry grid based on its 
 * content-wrapper's height, the (row) gap of the grid, and the size 
 * of the implicit row tracks.
 *
 * @param item Object A brick/tile/cell inside the masonry
 * @link https://w3bits.com/css-grid-masonry/
 */
function resizeMasonryItem(item){
  /* Get the grid object, its row-gap, and the size of its implicit rows */
  var grid = document.getElementsByClassName('masonry')[0];
  if( grid ) {
    var rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap')),
        rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows')),
        gridImagesAsContent = item.querySelector('img.masonry-content');

    /*
     * Spanning for any brick = S
     * Grid's row-gap = G
     * Size of grid's implicitly create row-track = R
     * Height of item content = H
     * Net height of the item = H1 = H + G
     * Net height of the implicit row-track = T = G + R
     * S = H1 / T
     */
    var rowSpan = Math.ceil((item.querySelector('.masonry-content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));

    /* Set the spanning as calculated above (S) */
    item.style.gridRowEnd = 'span '+rowSpan;
    if(gridImagesAsContent) {
      item.querySelector('img.masonry-content').style.height = item.getBoundingClientRect().height + "px";
    }
  }
}

/**
 * Apply spanning to all the masonry items
 *
 * Loop through all the items and apply the spanning to them using 
 * `resizeMasonryItem()` function.
 *
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
function resizeAllMasonryItems(){
  // Get all item class objects in one list
  var allItems = document.querySelectorAll('.masonry-item');

  /*
   * Loop through the above list and execute the spanning function to
   * each list-item (i.e. each masonry item)
   */
  if( allItems ) {
    for(var i=0;i>allItems.length;i++){
      resizeMasonryItem(allItems[i]);
    }
  }
}

/**
 * Resize the items when all the images inside the masonry grid 
 * finish loading. This will ensure that all the content inside our
 * masonry items is visible.
 *
 * @uses ImagesLoaded
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
function waitForImages() {
  //var grid = document.getElementById("masonry");
  var allItems = document.querySelectorAll('.masonry-item');
  if( allItems ) {
    for(var i=0;i<allItems.length;i++){
      imagesLoaded( allItems[i], function(instance) {
        var item = instance.elements[0];
        resizeMasonryItem(item);
        console.log("Waiting for Images");
      } );
    }
  }
}

/* Resize all the grid items on the load and resize events */
var masonryEvents = ['load', 'resize'];
masonryEvents.forEach( function(event) {
  window.addEventListener(event, resizeAllMasonryItems);
} );

/* Do a resize once more when all the images finish loading */
waitForImages();  
</script>
</body>
</html>