.bg--image {
  height: 100vh;
  position: relative;
  overflow: hidden;
  max-width: 1500px;
  background-color: #fefbf8;
}

.paint--font {
  top: -35rem;
  right: 0;
  position: absolute;
  font-family: 'wc_rhesus_b_btaitalic';
  color: black;
  font-size: 40rem;
  padding: 1rem;
  background: url('../assets/oil-paint.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 50%;
}

.quote {
  margin: 0;
  padding: 2rem 1.5rem 1rem 1.5rem;
  min-width: 55%;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #00171f;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  line-height: 1.5;
}

.quote > img {
  position: absolute;
}

.img--splash-top {
  height: 300px;
  top: -40px;
  left: -60px;
}

.img--splash-bottom {
  height: 200px;
  bottom: -70px;
  right: -70px;
  z-index: -1;
  overflow: hidden;
}

.quote p {
  margin-bottom: 2rem;
}

.quote--signature {
  text-align: right;
  padding-top: 8%;
  font-family: 'Sen', sans-serif;
  font-weight: 700;
}

.quote--ending {
  padding-left: 5%;
}

.section--video {
  text-align: center;
  padding: 3rem;
}

video {
  width: 500px;
}

@media screen and (max-width: 550px) {
  video {
    width: 300px;
  }
  .img--splash-bottom {
    height: 150px;
    right: -30px;
  }
  .quote {
    font-size: 1rem;
    padding: 2rem 0 1rem 0;
    min-width: 70%;
  }
  .section--video {
    padding: 1.7rem 1rem;
  }
}

@media screen and (min-width: 1279px) {
  video {
    width: 700px;
  }

  .quote {
    font-size: 1.7rem;
  }
}

.header--container {
  display: flex;
  flex-direction: column;
}

.title--container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5rem 2rem 2rem 2rem;
}

.title-artist {
  font-size: 100%;
  text-align: start;
}

.title-painter {
  font-size: 100%;
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.line-through:before {
  content: '\00a0';
}

.line-through:after {
  content: '\00a0\00a0\00a0\00a0\00a0';
}

/* .title-minus {
  background-color: black;
  height: 3.55px;
  width: 60px;
  right: 2rem;
  top: 12.07rem;
  position: absolute;
} */

.title-impressionist {
  font-size: 100%;
  text-align: right;
}

.header--button {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
