.bg--image {
  background-image: url('../assets/173/parfum-d-automne2.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.bg--overlay {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(2, 0, 36, 0.4) 70%
  );
  /* z-index: 2000; */
  height: 100%;
  width: 100%;
}

.quote {
  margin: 0;
  padding: 2rem 1.5rem 1rem 1.5rem;
  min-width: 55%;
  /* max-width: 55%; */
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #00171f;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  line-height: 1.5;
  text-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.3);
}

.quote > img {
  position: absolute;
}

.img--splash-top {
  height: 300px;
  top: -40px;
  left: -60px;
}

.img--splash-bottom {
  height: 200px;
  bottom: -70px;
  right: -70px;
  z-index: -1;
  overflow: hidden;
}

.quote p {
  margin-bottom: 2rem;
}

.quote--signature {
  text-align: right;
  padding-top: 8%;
}

.quote--ending {
  padding-left: 5%;
}

.section--video {
  text-align: center;
  padding: 3rem;
}

video {
  width: 500px;
}

@media screen and (max-width: 550px) {
  video {
    width: 300px;
  }
  .img--splash-bottom {
    height: 150px;
    right: -30px;
  }
  .quote {
    font-size: 1rem;
  }
  .section--video {
    padding: 1.7rem 1rem;
  }
}

@media screen and (min-width: 1279px) {
  video {
    width: 700px;
  }

  .quote {
    font-size: 1.7rem;
  }
}
