.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: #003459; */
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.wave {
  position: fixed;
  z-index: -1;
  display: none;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5rem 3rem;
}

.navbar--items {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
}
.navbar--items a {
  padding-left: 2rem;
}

@media screen and (max-width: 620px) {
  .navbar--items {
    display: none;
    flex-direction: column;
    font-size: 1.3rem;
  }
}
