.carousel-wrapper {
  width: 80vw;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 2rem auto;
  /* border: solid 1rem; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 1rem 1rem 0 1rem;
  border-radius: 8px;
}

.painting--one-img {
  max-width: 500px;
  border-radius: 6px;
}

.carousel-status {
  color: black;
}

.thumb {
  border-radius: 10px;
  cursor: pointer;
  padding: 0;
}

.carousel .thumbs-wrapper {
  margin: 0;
}

.control-dots {
}

.slide-selected {
  background-color: rgb(232, 226, 226);
}

button {
  background-color: transparent !important;
  border-color: transparent !important;
}
