.paintings--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: masonry; */
  /* align-content: end; */
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  /* masonry-auto-flow: next; */
  gap: 2rem;
  grid-gap: 2rem;
}

.painting--list-img {
  width: 300px;
  cursor: pointer;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.painting--list-img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transition: all 0.3s ease-in-out;
}
